<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/css/style.css" rel = "stylesheet" >
    <title>Fun-N-Skate Inicio</title>
</head>

<header>
    <div class="img-cabecera">
        <div class="navbar_button">
            <label for="show-nav">
                <span class = "material-icons material-icons-outlined" >
                    menu
                </span>  
            </label> 
        </div>

        <div>
            <img class="logo-cabecera" src = '/img/Logo Rojo.svg' alt='Logo Fun-N-Skate'>  
          </div>
      
          <div>
              <img class="img-usuario" src = '/img/img-usuario.jpg' alt='imagen del  usuario'>
              <p>Nombre</p>
          </div>
    </div>
    <input type="checkbox" id="show-nav" hidden/>

    <ul class="navbar_menu">
        <li><a href="#inicio">Inicio</a></li>
        <li><a href="#productos">Productos</a></li>
        <li><a href="#carrito">Carrito</a></li>
        <li><a href="#compras">Compras</a></li>
        <li><a href="#miCuenta">Mi cuenta</a></li>
        <li><a href="#blog">Blog</a></li>
        <li><a href="#otros">Otros</a></li>

    </ul>
    <ul>
        <li><a href="#patines">Patines</a></li>
        <li><a href="#equipoProteccion">Equipo de protección</a></li>
        <li><a href="#accesorios">Accesorios</a></li>
        <li><a href="#refacciones">Refacciones</a></li>

    </ul>
       
      <div>
          <input type="search"/>
      </div>    
</header>

<body>
    <div>
   <img class="img-carrusel" src='' alt=''>
   <button></button>
</div>
</body>
<footer>
</footer>
</html>
