<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/css/style.css" rel = "stylesheet" >
    <link href="/css/home.css" rel = "stylesheet" >
    <link rel="stylesheet" href="css/style-header.css">
    <link rel="stylesheet" href="css/style-footer.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@1,700&family=Oswald:wght@600&display=swap" rel="stylesheet">
    <title>Fun-N-Skate Inicio</title>
</head>

<header>
    <div class="img-cabecera">
        <div class="navbar_button">
            <label for="show-nav">
                <span class = "material-icons material-icons-outlined" >
                    menu
                </span>  
            </label> 
        </div>

        <div>
            <img class="logo-cabecera" src = '/img/Logo Fun N Skate naranja.svg' alt='Logo Fun-N-Skate'>  
          </div>
      
          <div>
              <img class="img-usuario" src = '/img/img-usuario.jpg' alt='imagen del  usuario'>
              <p>Nombre</p>
          </div>
    </div>
    <input type="checkbox" id="show-nav" hidden/>

    <ul class="navbar_menu">
        <li><a href="#inicio">Inicio</a></li>
        <li><a href="#productos">Productos</a></li>
        <li><a href="#carrito">Carrito</a></li>
        <li><a href="#compras">Compras</a></li>
        <li><a href="#miCuenta">Mi cuenta</a></li>
        <li><a href="#blog">Blog</a></li>
        <li><a href="#otros">Otros</a></li>

    </ul>
    <ul>
        <li><a href="#patines">Patines</a></li>
        <li><a href="#equipoProteccion">Equipo de protección</a></li>
        <li><a href="#accesorios">Accesorios</a></li>
        <li><a href="#refacciones">Refacciones</a></li>

    </ul>
       
      <div>
          <input type="search"/>
      </div>    
</header>

<body>
    <section>
    <!--Imagen de carrusel-->
    <div class="carrusel">
        <img class="img-carrusel" src="/img/carrusel-img-1.png" alt='patin-freeskate-RDS'></img>
       <div class="texto-carrusel">
        <h1>PATINES FREESKATE</h1>
        <h2>Más velocidad, más seguridad.</h2>
        <h3>¡Pruébalos!</h3>
     <button class="boton-amarillo">Ver más</button>
    </div>
</div>
</section>
 <!--Recomendaciones de producto-->
 <section>
 <div class="contenedor-recomendaciones">
    <h1>Nuestras recomendaciones</h1>
    <br>
    <img src="/img/fondo-recomendaciones1.svg" alt='patines-RDS-Aerio10'></img>
    <h2>RDS Aerio 10</h2>
    <p>Patines de 4 ruedas, con gran velocidad.</p>
    <input type="button" value="Ver más" class="boton-recomendaciones">
    <br>
    <br>
</div>
<div class="contenedor-recomendaciones">
    <img src="/img/home-producto2.png" alt='patines-RDS-Aerio11'></img>
    <h2>RDS Aerio 11</h2>
    <p>Patines de 4 ruedas, coloridos y veloces.</p>
    <input type="button" value="Ver más" class="boton-recomendaciones">
    <br>
    <br>
</div>
<div class="contenedor-recomendaciones">
    <img  src="/img/home-producto3.png" alt='patines-RDS-Aerio12'></img>
    <h2>RDS Aerio 12</h2>
    <p>Patines de 4 ruedas, azules, ajustables y con 4 ruedas</p>
    <input type="button" value="Ver más" class="boton-recomendaciones">
    <br>
    <br>
</div>
 </div>
</section>
  <!--Sección de información con cuadrados-->
  <section>
  <div class="info-cuadrados">
    <img src="/img/home-cuadros-superior-img2.jpg" alt=''></img>
    <div class="cuadro1">
    <h3>¿Eres nuevo en el patinaje?</h3> 
    <p>Conoce los tutoriales que tenemos para ti.</p>
    <input type="button" value="Ver más" class="boton-negro">
</div>
 <img src="/img/home-cuadros-superior-img1.jpg" alt='jovenes-patinando'></img> 
  
 <div class="cuadro1">
 <h3>Noticias sobre patinaje</h3> 
    <p>Mantente actualizado con lo mejor del patinaje.</p>
    <input type="button" value="Ver más" class="boton-negro"> 

    <h3>Tiendas nacionales a tu alcance</h3> 
    <p>Encuentra la más cercana.</p>
    <img src="/img/home-cuadros-superior-img3.jpg" alt='jovenes-patinando'></img> 
    <br>
</div>
</div>
</section>
  <!--Sección de información con 3 iconos y breve descripción-->
  <section>
  <div class="info-iconos">
  <img class="iconos-info-home" src="/img/icono-home-info1.svg" alt='icono-compra-segura'></img> 
  <h2>Compra segura</h2>
  <p>Tus compras son 100% seguras.</p>

  <img class="iconos-info-home" src="/img/icono-home-info2.svg" alt='icono-envios-internacionales'></img> 
  <h2>Envíos internacionales</h2>
  <p>No te preocupes por salir de casa, nosotros te lo llevamos.</p>

  <img class="iconos-info-home" src="/img/icono-home-info3.svg" alt='icono-entrega-inmediata'></img> 
  <h2>Entrega inmediata</h2>
  <p>Pidelo hoy y recibelo mañana.</p>
  <br>
  <div>
</div>
</section>
  <!--Segunda sección de información con cuadrados-->
  <section>
  <div class="info-cuadrados">
      <br>
      <div class="contenedor-cuadrado">
    <h3>¡Nuevos modelos 2021!</h3> 
    <p>Pares de patines con diseños únicos.</p>
    <input type="button" value="Ver más" class="boton-negro">
</div>

    <img class="imagen-cuadrada" src="/img/home-cuadros-img2.jpg" alt='joven-patinando'>
    <div class="contenedor-cuadrado">
   <h3>Crea tu cuenta para una mejor experiencia</h3> 
    <p>Contenido exclusivo para ti.</p>
    <input type="button" value="Ver más" class="boton-negro">
</div>

<img class="imagen-cuadrada" src="/img/home-cuadros-img1.jpg" alt='patines'> 
 <div class="contenedor-cuadrado">
  <h3>¡Encuentra los mejores precios!</h3> 
    <p>Grandes marcas, grandes descuentos.</p>
    <input type="button" value="Ver más" class="boton-negro">
</div>
    <img class="imagen-cuadrada" src="/img/home-cuadros-img3.jpg" alt='patines-4-ruedas'> 
   
    <br>
    <br>
</div>
  <div>
</div>
</section>
</body>
<!--Pie de pagína-->
<footer>
    <div>
    <img class="imagen-cuadrada" src='' alt=''> 
        <img class="logo-cabecera" src = '/img/Logo Fun N Skate naranja.svg' alt='Logo Fun-N-Skate'></div>
    </div>
    <div>gi
        <a href="facebook">

        </a>
        <a href="twiter">
            
        </a>
        <a href="whatsapp">
            
        </a>
        <a href="instagram">
            
        </a>
    </div>
    <div>
        <h3>¡Suscribete!</h3>
        <h3>Obtén noticias y ofertas</h3>
        <input type="email"/>
        <button>Enviar</button>
        
    </div>

    <div>
        <ul>
            <li>
                <a href="#terminos-condiciones">Terminos y condiciones</a>
            </li>
            <li>
                <a href="#metodosEnvio">Métodos de envío</a>
            </li>
            <li>
                <a href="#privacidad">Politicas de privacidad</a>
            </li>
        </ul>
    </div>
    <div>
        <ul>
            <li>
                <a href="#sucursal1">Sucursal 1. direccion</a>
            </li>
            <li>
                <a href="#sucursal2">Sucursal 2. dirección</a>
            </li>
            <li>
                <a href="#sucursal3">Sucursal 3. direccion</a>
            </li>
        </ul>
    </div>

</footer>
</html>

