<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@1,700&family=Oswald:wght@600&display=swap" rel="stylesheet">
    <link href="/css/style.css" rel = "stylesheet" >

    <title>Fun-N-Skate Inicio</title>
</head>

<body>

    <header>
        <!--Se hizo una caja que contiene la imagen del usuario, el logo y el menu tipo hamburguesa-->
        <div class="img-cabecera">
            <!--Aqui esta el menu tipo hamburguesa-->
            <div class="icons navbar_button">
                <label for="show-nav">
                    <span class = "material-icons material-icons-outlined" >
                        menu
                    </span>  
                </label> 
            </div>

            <div>
                <img class="logo-cabecera" src = '/img/Logo Fun N Skate naranja.svg' alt='Logo Fun-N-Skate'>  
            </div>

            <div class="icon-right">
                <div class="usuario">
                    <img class="img-usuario" src = '/img/img-usuario.jpg' alt='imagen del  usuario'>
                    <p>Usuario</p>
                </div>
                <div>
                    <label for="show-buscar">
                        <span class="icons material-icons material-icons-outlined">
                            search
                        </span>
                    </label>
                </div>
                <div>
                    <a href="/productCar"> <span class="icons material-icons material-iconsmaterial-icons-outlined">
                        shopping_cart
                    </span></a>
                </div>
            </div>          
        </div>

        <!--Barra de busqueda--> 
        <input type="checkbox" id="show-buscar" hidden>
        <div class="navbar_menu">
            <input class="barra-buscar" type="search" placeholder="  ¿Qué está buscando?"/>
        </div>
   

<!--Se declara el chec box que permite ocultar y mostra la lista del menu-->
        <input type="checkbox" id="show-nav" hidden/>
<!--lista del menu principal-->
        <ul class="navbar_menu">
            <li><a href="/">Inicio</a></li>
            <li>
                <label for="show-submenu">Productos</label>
                <input type="checkbox" id="show-submenu" hidden>
<!--Lista del menu/productos-->
                <ul class="submenu">
                    <li><a href="/Details">Patines</a></li>
                    <li><a href="#equipoProteccion">Equipo de protección</a></li>
                    <li><a href="#accesorios">Accesorios</a></li>
                    <li><a href="#refacciones">Refacciones</a></li>
                </ul>            
           </li>
            <li><a href="#carrito">Carrito</a></li>
            <li><a href="#compras">Compras</a></li>
            <li><a href="#miCuenta">Mi cuenta</a></li>
            <li><a href="#blog">Blog</a></li>
            <li><a href="#otros">Otros</a></li>

        </ul>   
    </header>

    <!--Imagen de carrusel-->


  <section>
    <div id="contenedor-carrusel">
      <div class="carrusel">
      <img src="/img/carrusel-img.svg" alt="Patines-Aerio-2021">
          <button class="boton-carrusel"></button>
          <button class="boton-carrusel"></button>
          <button class="boton-carrusel"></button>
    </div>
        <div class="texto-carrusel">
        <h1>PATINES FREESKATE</h1>
        <h2>Más velocidad, más seguridad.</h2>
        <h3>¡Pruébalos!</h3>
     <button class="boton-amarillo">Ver más</button>
</div>
</section>

<div id="recomendaciones-titulo">
  <h1> Nuestras recomendaciones</h1>
  <br>
</div>


 <!--Recomendaciones de producto-->


 <div class="row">
  <div class="info-recomendaciones">
    <img src="/img/home-producto1.png" class="img-cuadrados" alt="Patines RDS Aerio 10">
    <h2>RDS Aerio 10</h2>
 <p>Patines de 4 ruedas y con gran velocidad.</p>
 <input type="button" value="Ver más" class="boton-amarillo">
  </div>
  <div class="info-recomendaciones">
    <img src="/img/home-producto2.png" class="img-cuadrados" alt="Patines RDS Aerio 11">
    <h2>RDS Aerio 11</h2>
 <p>Patines de 4 ruedas, tonos arcoiris.</p>
 <input type="button" value="Ver más" class="boton-amarillo">
  </div>
  <div class="info-recomendaciones">
    <img src="/img/home-producto3.png" class="img-cuadrados" alt="Patines RDS Aerio 12">
     <h2>RDS Aerio 12</h2>
 <p>Patines de 4 ruedas, tonos azules.</p>
 <input type="button" value="Ver más" class="boton-amarillo">
</div>
</div>


   <!--Sección de información con cuadrados-->


<div class="cuadros">
    <div class="contenedor-cuadros">
  <div class="info-cuadros">
    <img src="/img/home-cuadros-superior-img2.jpg" alt='' class="img-cuadrados"></img>
  </div>

  <div class="info-cuadros">
    <h3>¿Eres nuevo en el patinaje?</h3> 
    <p>Conoce los tutoriales que tenemos para ti.</p>
    <input type="button" value="Ver más" class="boton-negro">
  <br>
  </div>

  <div class="info-cuadros">
    <img src="/img/home-cuadros-superior-img1.jpg" alt='jovenes-patinando' class="img-cuadrados"></img> 
  </div>
</div>
<div class="contenedor-cuadros">
<div class="info-cuadros">
  <h3>Noticias sobre patinaje para ti</h3> 
  <p>Mantente actualizado con lo mejor del patinaje.</p>
  <input type="button" value="Ver más" class="boton-negro"> 
</div>

<div class="info-cuadros">
  <img src="/img/home-cuadros-superior-img3.jpg" alt='jovenes-patinando' class="img-cuadrados"></img>
</div>

<div class="info-cuadros">
  <h3>Tiendas nacionales a tu alcance</h3> 
  <p>Encuentra la más cercana.</p>
  <input type="button" value="Ver más" class="boton-negro"> 
    <br>
    <br>
</div>
</div>
<br>
</div>


 <!--Sección de información con 3 iconos y breve descripción-->


 <div class="info-iconos-contenedor">
 <div class="info-iconos">
  <img class="img-info-iconos" src="/img/icono-home-info1.svg" alt='icono-compra-segura'></img> 
  <h2>Compra segura</h2>
  <br>
  <p>Tus compras son 100% seguras.</p>
<br>
  </div>

<div class="info-iconos">
<img class="img-info-iconos" src="/img/icono-home-info2.svg" alt='icono-envios-internacionales'/> 
<h2>Envíos internacionales</h2>
<br>
<p>No te preocupes por salir de casa, nosotros te lo llevamos.</p>
</div>

<div class="info-iconos">
<img class="img-info-iconos" src="/img/icono-home-info3.svg" alt='icono-entrega-inmediata'/> 
<h2>Entrega inmediata</h2>
<br>
<p>Pidelo hoy y recibelo mañana.</p>
<br>
<br>
</div>
</div>
</div>


<!--Segunda sección de información con cuadrados-->


<div class="cuadros">
  <div class="contenedor-cuadros">
  <div class="info-cuadros">
    <h3>¡Nuevos modelos 2021!</h3> 
<p>Pares de patines con diseños únicos.</p>
<input type="button" value="Ver más" class="boton-negro"> 
  </div>
  <div class="info-cuadros">
    <img class="img-cuadrados" src="/img/home-cuadros-img2.jpg" alt='joven-patinando'>
  </div>
  <div class="info-cuadros">
    <h3>¡Encuentra los mejores precios!</h3> 
    <p>Grandes marcas, grandes descuentos.</p>
    <input type="button" value="Ver más" class="boton-negro"> 
  </div>

<div class="info-cuadros">
  <img class="img-cuadrados" src="/img/home-cuadros-img3.jpg" alt='patines-4-ruedas'> 
</div>
<div class="info-cuadros">
  <h3>Tiendas nacionales a tu alcance</h3> 
  <p>Encuentra la más cercana.</p>
  <input type="button" value="Ver más" class="boton-negro"> 
</div>
<div class="info-cuadros">
    <img class="img-cuadrados" src="/img/home-cuadros-superior-img3.jpg" alt='jovenes-patinando'></img>
</div>
</div>
</div>   

    <!--Pie de pagína-->
    <footer>
        <!--Logo Fun N Skate-->
                 <div>
                    <img class="logo-footer" src = '/img/Logo Blanco.svg' alt='Logo Fun-N-Skate'>
                </div>
                <h3>¡Siguenos!</h3>
                <!--Logotipos de redes sociales-->
                <div>
                    <a href="facebook">
                        <img class="redes" src = '/img/icon-fb.svg' alt='Logo Fun-N-Skate'>
                    </a>
        
                    <a href="twitter">
                        <img class="redes" src = '/img/icon-twit.svg' alt='Logo Fun-N-Skate'>
                    </a>
        
                    <a href="whatsapp">
                        <img class="redes" src = '/img/icon-whats.svg' alt='Logo Fun-N-Skate'>
                    </a>
        
                    <a href="instagram">
                        <img class="redes" src = '/img/icon-inst.svg' alt='Logo Fun-N-Skate'>
                    </a>
                </div>
                <!--Area de suscripción -->
                <div>
                    <h3>¡Suscribete! <br> Obten noticias y ofertas</h3>
                    <input class="barra-correo" type="email"/>
                    <button class="boton-sus">Suscribete</button>
                
                </div>
        
                <div class="cont-list">
                    <ul>
                        <li>
                            <a href="#terminos-condiciones">Terminos y condiciones</a>
                        </li>
                        <li>
                            <a href="#metodosEnvio">Metodos de envio</a>
                        </li>
                        <li>
                            <a href="#privacidad">politicas de privacidad</a>
                        </li>
                    </ul>
                
                    <ul>
                        <li>
                            <a href="#sucursal1">Sucursal 1. direccion</a>
                        </li>
                        <li>
                            <a href="#sucursal2">Sucursal 2. dirección</a>
                        </li>
                        <li>
                            <a href="#sucursal3">Sucursal 3. direccion</a>
                        </li>
                    </ul>
                </div>
            
            </footer>
</body>

</html>
