<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/css/style.css" rel = "stylesheet" >
    <title>Fun-N-Skate-productos</title>
</head>

<header>
    <div class="img-cabecera">
        <div class="navbar_button">
            <label for="show-nav">
                <span class = "material-icons material-icons-outlined" >
                    menu
                </span>  
            </label> 
        </div>

        <div>
            <img class="logo-cabecera" src = '/img/Logo Rojo.svg' alt='Logo Fun-N-Skate'>  
          </div>
      
          <div>
              <img class="img-usuario" src = '/img/img-usuario.jpg' alt='imagen del  usuario'>
              <p>Nombre</p>
          </div>
    </div>
    <input type="checkbox" id="show-nav" hidden/>

    <ul class="navbar_menu">
        <li><a href="#inicio">Inicio</a></li>
        <li><a href="#productos">Productos</a></li>
        <li><a href="#carrito">Carrito</a></li>
        <li><a href="#compras">Compras</a></li>
        <li><a href="#miCuenta">Mi cuenta</a></li>
        <li><a href="#blog">Blog</a></li>
        <li><a href="#otros">Otros</a></li>

    </ul>
    <ul>
        <li><a href="#patines">Patines</a></li>
        <li><a href="#equipoProteccion">Equipo de protección</a></li>
        <li><a href="#accesorios">Accesorios</a></li>
        <li><a href="#refacciones">Refacciones</a></li>

    </ul>
       
      <div>
          <input type="search"/>
      </div>  

    
    
</header>

<body>
    <div>
        <img class="img-productos" src = '/img/patin-01.jpg' alt='Patines clasicos blancos con flor bordada'>
        <img class="img-productos" src = '/img/patin-02.jpg' alt='Patines clasicos blancos con flor bordada'>
        <img class="img-productos" src = '/img/patin-02.jpg' alt='Patines clasicos blancos con flor bordada'>
        <img class="img-productos" src = '/img/patin-04.jpg' alt='Patines clasicos blancos con flor bordada'>
    </div>
    <div>
        <h2>Patines con flor bordada</h2>
        <p>marca XXX superX</p>
        <h3>$3658.70</h3>
    </div>
    <div>
        Talla:
    </div> 
    <div>
        Color:
    </div>  
    <div>
        Valoración:
    </div> 
    <div>
        <a href="#reseñas">12 reseñas</a>
    </div>
    <div>
        <input type="button"/>
        <input type="button"/>
    </div>
    <div>
        <ul>
            <li><a href="#descripción">Descripción</a></li>
                
            <li> 
                <a href="#selcTalla">Selección de talla</a>
            </li>
            <li>
                <a href="#consejos">Consejos</a>
            </li>
        </ul>
    </div>
</body>

<footer>
    <div>
        <img class="logo-cabecera" src = '/img/Logo Rojo.svg' alt='Logo Fun-N-Skate'>
    </div>
    <div>
        <a href="facebook">

        </a>
        <a href="twiter">
            
        </a>
        <a href="whatsapp">
            
        </a>
        <a href="instagram">
            
        </a>
    </div>
    <div>
        <h3>Suscribete!!</h3>
        <h3>Obten noticias y ofertas</h3>
        <input type="email"/>
        <input type="button"/>
    </div>

    <div>
        <ul>
            <li>
                <a href="#terminos-condiciones">Terminos y condiciones</a>
            </li>
            <li>
                <a href="#metodosEnvio">Metodos de envio</a>
            </li>
            <li>
                <a href="#privacidad">politicas de privacidad</a>
            </li>
        </ul>
    </div>
    <div>
        <ul>
            <li>
                <a href="#sucursal1">Sucursal 1. direccion</a>
            </li>
            <li>
                <a href="#sucursal2">Sucursal 2. dirección</a>
            </li>
            <li>
                <a href="#sucursal3">Sucursal 3. direccion</a>
            </li>
        </ul>
    </div>

</footer>
</html>