<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/css/style.css" rel = "stylesheet" >
    <title>Fun-N-Skate-productos</title>
</head>

<header>
    <!--Se hizo una caja que contiene la imagen del usuario, el logo y el menu tipo hamburguesa-->
    <div class="img-cabecera">
        <!--Aqui esta el menu tipo hamburguesa-->
        <div class="navbar_button">
            <label for="show-nav">
                <span class = "material-icons material-icons-outlined" >
                    menu
                </span>  
            </label> 
        </div>

        <div>
            <img class="logo-cabecera" src = '/img/Logo Fun N Skate naranja.svg' alt='Logo Fun-N-Skate'>  
        </div>
        <div class="icon-right">
            <div class="usuario">
              <img class="img-usuario" src = '/img/img-usuario.jpg' alt='imagen del  usuario'>
              <p>Usuario</p>
          </div>
          <div>
            <span class="material-icons material-icons-outlined">
                search
                </span>
          </div>
          <div>
            <span class="material-icons material-iconsmaterial-icons-outlined">
                shopping_cart
                </span>
          </div>
        </div>
          
    </div>
<!--Se declara el chec box que permite ocultar y mostra la lista del menu-->
    <input type="checkbox" id="show-nav" hidden/>
    
<!--lista del menu principal-->
    <ul class="navbar_menu">
        <li><a href="#inicio">Inicio</a></li>
        <li><a href="#productos">Productos</a></li>
        <li><a href="#carrito">Carrito</a></li>
        <li><a href="#compras">Compras</a></li>
        <li><a href="#miCuenta">Mi cuenta</a></li>
        <li><a href="#blog">Blog</a></li>
        <li><a href="#otros">Otros</a></li>

    </ul>
<!--Lista del menu/productos-->
    <ul>
        <li><a href="#patines">Patines</a></li>
        <li><a href="#equipoProteccion">Equipo de protección</a></li>
        <li><a href="#accesorios">Accesorios</a></li>
        <li><a href="#refacciones">Refacciones</a></li>

    </ul>
<!--Barra de busqueda--> 
      <div>
          <input class="barra-buscar" type="search"/>
      </div>  

    
    
</header>

<body>
<!--Imagenes del primer producto-->
    <div>
        <img class="img-productos" src = '/img/patin-01.jpg' alt='Patines clasicos blancos con flor bordada'>
        <img class="img-productos" src = '/img/patin-02.jpg' alt='Patines clasicos blancos con flor bordada'>
        <img class="img-productos" src = '/img/patin-02.jpg' alt='Patines clasicos blancos con flor bordada'>
        <img class="img-productos" src = '/img/patin-04.jpg' alt='Patines clasicos blancos con flor bordada'>
    </div>
<!--Datos de cista rapida del producto-->
    <div>
        <h2>Patines con flor bordada</h2>
        <p>marca XXX superX</p>
        <h3>$3658.70</h3>
    </div>
    <div>
        Talla:
    </div> 
    <div>
        Color:
    </div>  
    <div>
        Valoración:
    </div> 
    <div>
        <a href="#reseñas">12 reseñas</a>
    </div>
    <div>
        <input type="button" value="Pagar"/>
        <input type="button" value="Agregar al carrito"/>
    </div>
<!--Menu de detalles del producto-->
    <div>
        <ul>
            <li><a href="#descripción">Descripción</a></li>
                
            <li> 
                <a href="#selcTalla">Selección de talla</a>
            </li>
            <li>
                <a href="#consejos">Consejos</a>
            </li>
        </ul>
    </div>
</body>
<!--Pie de pagína-->
<footer>
    <div>
        <img class="logo-cabecera" src = '/img/Logo Fun N Skate naranja.svg' alt='Logo Fun-N-Skate'>
    </div>
    <div>
        <a href="facebook">

        </a>
        <a href="twiter">
            
        </a>
        <a href="whatsapp">
            
        </a>
        <a href="instagram">
            
        </a>
    </div>
    <div>
        <h3>Suscribete!!</h3>
        <h3>Obten noticias y ofertas</h3>
        <input type="email"/>
        <button>Enviar</button>
        
    </div>

    <div>
        <ul>
            <li>
                <a href="#terminos-condiciones">Terminos y condiciones</a>
            </li>
            <li>
                <a href="#metodosEnvio">Metodos de envio</a>
            </li>
            <li>
                <a href="#privacidad">politicas de privacidad</a>
            </li>
        </ul>
    </div>
    <div>
        <ul>
            <li>
                <a href="#sucursal1">Sucursal 1. direccion</a>
            </li>
            <li>
                <a href="#sucursal2">Sucursal 2. dirección</a>
            </li>
            <li>
                <a href="#sucursal3">Sucursal 3. direccion</a>
            </li>
        </ul>
    </div>

</footer>
</html>