main{
    box-sizing: border-box;
}

/*Define el estilo del boton comprar ahora y añadir al carrito*/
.boton-detail{
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    box-sizing: border-box;
    font-weight: bold;
    color: #fff;
    background-color:#000;
    border-radius: 10px;
    width: 140px;
    height: 45px; 
    margin-top: 20px;  
    margin-bottom: 20px;  
}
.boton-sug{
    font-family: 'Oswald', sans-serif;
    font-size: 13px;
    box-sizing: border-box;
    font-weight: bold;
    color: #fff;
    background-color:#000;
    border-radius: 10px;
    width: 120px;
    height: 35px; 
    margin-top: 2px;  
    margin-bottom: 10px;  
}

/*Permite centrar una sola imagen en el portview*/
.caja1{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around ;
    max-width: 100vw;
    box-sizing: border-box;

}
/* Caja que contiene los elementos del articulo sugerido (imagen, nombre del articulo y boton */
.caja2{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:center ;
    justify-content: space-between ;
    max-width: 100vw;
    box-sizing: border-box;
    margin-top: 10px;
}

.caja3{
    padding-top: 15vw;
    background-color: #fff;
}

/* define el tamaño y el estilo de la imagen principal*/
.img-producto
{   
    width: 70vw;
    padding: 10px;
    border: #e57d0c solid 0.2px;
    box-sizing: border-box;
}
/*Define el estilo de las imagenes incluidas en la descripcion del producto*/
.subimg-producto
{   
    width: 15vw;
    margin-top: 20px;
    padding: 10px;
    border: #e57d0c solid 0.2px;
    box-sizing: border-box;
}

/*Define el estilo de la descripción resumida del producto*/
.sec-resum{
    padding-left: 8vw;
    padding-right: 8vw;
    box-sizing: border-box;
    width: 100vw;
}

/*Estilo de texto del nombre del articulo*/
.nombre-art{
    font-family: 'Bai Jamjuree', sans-serif;
    color: #000;
}

.nombre-sug{
    width: 45vw;
    font-family: 'Bai Jamjuree', sans-serif;
    text-align: center;
    font-size: 3.5vw;
    font-style: normal;
    color: #000;
}

.resum-des{
    font-family: 'lato', sans-serif;
    color: #29303B;

}

.precio-des{
    font-family: 'lato', sans-serif;
    color: #e57d0c;
}
.selec{
    font-family: 'lato', sans-serif;
    border-radius: 10px;
    height: 20px;
    background-color: #fff;
    border: #e57d0c solid 1px;
    margin-bottom: 10px;
    box-sizing: border-box;

}

.details-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.details-menu > li> label{
    box-sizing: border-box;
    padding: 8px;
    border-style: solid;
    border-color: #fff;
    border-width: 0 0 2px;
    text-align: center;
    background-color: #A6AAAD;
    display: block;
    min-height: 45px;
    color: #fff;
    text-decoration: none;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
}

.details-menu > li > label:hover{
    background-color: #e57d0c;
    color: #000;
}
.descripcion{
    font-family: "lato", sans-serif;
    padding: 20px;
    color: #fff;
    background-color: #29303B;  
    box-sizing: border-box; 
}

.img-sug{   
    width: 35vw;
    margin-top: 20px;
    padding: 10px;
    border: #e57d0c solid 0.2px;
    box-sizing: border-box;
}
/* Empieza estilo carrito de compras*/

.main-car{
    background-color: #fff;
}

.titulo-carrito > h1 {
    background-color: #ffd522;
    width: 100vw;
    font-family: 'Bai Jamjuree', sans-serif;
    text-align: center;
    margin-top: 44px;
    padding-top: 30px;
    padding-bottom: 30px;

}

.desglose-car{
    font-family: 'Bai jamjuree', sans-serif;
    display: none; 
}

.cont-prdct-car{
    margin-top: 10px ;
    margin-left: 5vw;
    border: #29303B solid 3px;
    background-color: #A6AAAD;
    border-radius: 15px;
    width: 90vw;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.img-car{
    width: 30vw;
    height: inherit;
    border-radius: 5px;
}

.resum-productcar{
    width: 47vw;
    margin-left: 5vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cont-des-tit > h2{
    font-family: 'Bai jamjuree', sans-serif;
    font-size: 15px;
    margin:0;
    padding: 0;
    width: 47vw;
}

.cont-des-tit > p{
    font-family: 'lato', sans-serif;
    font-size: 12px;
    margin-top: 0.5em;
    margin-bottom: 0;
    width: 47vw;
}
.cont-precio > h3{
    font-family: 'lato', sans-serif;
    font-size: 16px;
    padding-top: 3px;
    margin-bottom: 0;
    width: fit-content;
    margin: 0;
}

.precio-car{
    color: #e57d0c;
}

.resum-productcar > form{
    font-size: 16px;
    font-weight: bold;
    width: 20vw;
    padding-top: 3px;
    text-align: right;
    font-family: 'lato', sans-serif
}

.resum-productcar > form >select{
    height: 25px;
    border-radius: 8px;
}

.quitar{
    display: flex;
    align-items: center;
}
a{
    text-decoration: none;
}

.cont-total{
    display: flex;
    justify-content: space-between;
}



.total{
    margin-left: 20vw;
    font-family: 'lato', sans-serif;
}


.precio-total{
    margin-left: 10px;
    font-family: 'lato', sans-serif;
    color: #e57d0c;
}

.cont-producto> p{
    margin-left: 5vw;
    font-family: 'lato', sans-serif;
}

.cont-resum-pedido{
    background-color: #29303B;
    color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    width: 90vw;
    margin: 5vw;
}

.cont-resum-pedido > h2{
    width: 100%;
    text-align: center;
    font-family: 'Bai jamjuree', sans-serif;
}

.cont-costos{
    display: flex;
    justify-content: space-between;
}

.cont-costos > p{
    width: 50%;
    text-align: left;
    justify-content: space-between;
    font-family: 'lato', sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding-left: 10%;
}

.cont-cupon{
    display: flex;
    flex-direction: column;
    align-content:space-between;
    justify-content:space-evenly;
    border-bottom: #fff solid 2px;
}

.cont-cupon > p{
    font-family: 'lato', sans-serif;
    color: #e57d0c;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}

.bar-codig{
    width: 70%;
    height: 40px;
    font-family: 'lato', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-left: 15%;
}

.cont-boton{
    display: flex;
    justify-content: space-around;
}

.boton-car{
    background-color: #ffd522;
    font-family: "lato", sans-serif;
    font-weight: bold;
    font-size: 16px;
    height: 50px;
    width: 40%;
    border-radius: 10px;
    border-right: #e57d0c solid;
    border-bottom: #e57d0c solid;
    border-left: #fff solid;
    border-top: #fff solid;
    margin-top: 20px;
}

.boton-car:hover{
    background-color: #e57d0c;
    border-radius: 10px;
    border-right: #fff solid;
    border-bottom: #fff solid;
    border-left: #A6AAAD solid;
    border-top: #A6AAAD solid;
}


/*Aquí comienza el media querie*/
/* Modificaciones del estilo para resolucines  pantalla mayores a 560px*/

@media(min-width:560px){
    main{
        box-sizing: border-box;
    }

    .caja1{
        flex-direction: column;
        width: inherit;
        justify-content: space-between;
    }
    .caja3{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding-bottom: 5vw;
        padding-top: 10vw;
        background-color: #fff;
    }
    .caja2{
        order: 1;
        margin: 0;
    }
    .img-producto{
        width: 40vw;
        max-width: 500px;
        margin: 0;
    }
    .subimg-producto{
        width: 10vw;
        max-width: 70px;
        margin-right: 20px;
        margin-left: 20px;
        margin-top: 2px;
        margin-bottom: 2px;        
    }
    .sec-resum{
        order: 2;
        margin: 0;
        padding: 0;
        max-width: 501px;
        width: 30vw;
        
    }
    .boton-detail{
        width: 25vw;
        max-width: 500px;
        margin-right: 40px;
        margin-bottom: 0;
        margin-top: 40px;
    }

    .submenu{
        position: fixed;
        top: 165px;
    }

    .submenu > li{
        width: 200px;
        margin: 0;
        padding: 0;
    }

    .details-menu > li {
        width: 33.33vw;
        float: left;
        height: inherit;
        background-color: #fff;
        border: #fff solid 2px;
        border-top: black;
        box-sizing: border-box;
    }

    .descripcion{
        width: 100vw;
        height: 550px;
        position:absolute;
        left:0;
        border: #fff solid 2px
    }
    .caja4 > h2{
        width: 100vw;
        text-align: center;
    }

    .cont-detalle{
        height: 600px;
    }

    footer{
        flex-direction: row;
        align-items: flex-start ;
        justify-content: space-around;

    }
    .cont-list >ul{
        padding: 0;
        margin:20px 10px 0 10px;
        width:fit-content;
    }
    .caja-redes{
        width: 252px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        order: 1;
        padding-right: 30px;
    }
    .logo-footer{
        padding-left: 30px;
    }
    .redes{
        width: 40px;
    }
    /* empieza adaptativo carrito de compra*/
    .cont-producto{
        width: 70vw;
        margin-top: 50px;
        margin-bottom: 200px;
    }

    .cont-prdct-car{
        width: 60vw;
        margin-left: 3vw;
    }

    .img-car{
        width: 10vw;
    }
    .resum-productcar{
        width: 30vw;
        margin-left: 10px;
       

    }
    
    .cont-des-tit > h2{
         width: fit-content;
         height:16px;
         font-size: 12px;
    }

    .cont-des-tit>p{
        width: fit-content;

    }
    
    .cont-precio{
        margin-left: 10px;
        order:1;
    }

    .cont-precio > h3{
        font-size: 12px;
        margin-bottom: 30px;
    }

    .resum-productcar>form{
        width: 70px;
        order:2;
        text-align: center;
        font-size: 12px;
    }

    .resum-productcar > form > select{
        margin-top: 25px;
    }

    .resum-des{
        order: 3;
    }
    
    .cont-total{
       flex-direction: column;
       justify-content: flex-start; 
       margin-top: 0.3em;
    }

    .total{
        margin: 0;
        font-size: 12px;  
    }

    .precio-total{
        margin:30px 0 0 0;
        font-size: 12px;
    }

    .cont-resum-pedido{
        width: 30vw;
        position: absolute;
        top: 306px ;
        right: 15px;
        margin: 0;
    }

    .titulo-carrito>h1{
        margin: 0;
    }

    .cont-costos>p{
        margin-right: 4vw;
        font-size: 14px;
    }

    .cont-resum-pedido>h2{
        font-size: 20px;
    }

    .cont-cupon > p{
        font-size: 16px;
    }

    .cont-boton{
        width: 30vw; 
        flex-wrap: wrap;
        position: absolute;
        top: 650px;
        right: 10px;

    }

    .boton-car{
        width: 30vw;
        box-sizing: border-box;
    }

  }