<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs')%>

<body>

    <%- include('partials/header.ejs')%>

    <div class="background404">
        <img src="/img/img404.svg" alt="error 404 image" class="img-error">
        <h3>La página que intentas solicitar no fue encontrada</h3>
        <div class="div-inicio-error">
            <a class="inicio-error" href="/">Volver al inicio</a>
            <i class="fas fa-arrow-right" id="arrow"></i>
        </div>
        </div>
    <div class="background">
        <br>
    </div>
</body>
<%- include('partials/footer.ejs')%>    
</html>
