<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs')%>

<body class="home">
    <%- include('partials/header.ejs')%>
    <!--Imagen de carrusel-->

    <section>
        <div id="contenedor-carrusel">
          <div class="carrusel">
          <img src="/img/carrusel-img.svg" alt="Patines-Aerio-2021">
              <button class="boton-carrusel"></button>
              <button class="boton-carrusel"></button>
              <button class="boton-carrusel"></button>
        </div>
            <div class="texto-carrusel">
            <h1>PATINES FREESKATE</h1>
            <h2>Más velocidad, más seguridad.</h2>
            <h3>¡Pruébalos!</h3>
         <button class="boton-amarillo">Ver más</button>
    </div>
    </section>
    
    <div id="recomendaciones-titulo">
      <h1> Nuestras recomendaciones</h1>
    </div>
   
        <div class="row">
            <div class="info-recomendaciones">
              <img src="/img/home-producto1.png" class="img-cuadrados" alt="Patines RDS Aerio 10">
              <h2>RDS Aerio 10</h2>
           <p>Patines de 4 ruedas, gran velocidad.</p>
           <input type="button" value="Comprar" class="boton-amarillo">
            </div>
            <div class="info-recomendaciones">
              <img src="/img/home-producto2.png" class="img-cuadrados" alt="Patines RDS Aerio 11">
              <h2>RDS Aerio 11</h2>
           <p>Patines de 4 ruedas, tonos arcoiris.</p>
           <input type="button" value="Comprar" class="boton-amarillo">
            </div>
            <div class="info-recomendaciones">
              <img src="/img/home-producto3.png" class="img-cuadrados" alt="Patines RDS Aerio 12">
               <h2>RDS Aerio 12</h2>
           <p>Patines de 4 ruedas, tonos azules.</p>
           <input type="button" value="Comprar" class="boton-amarillo">
          </div>
          <br>
          <br>
          <br>
          </div>
   

        <section class="cuadros">
            <div
                class="contenedor-cuadros"
                style="background-image: url('img/home-cuadros-superior-img1.jpg');"
            >
            </div>
            <div
            class="contenedor-cuadros"
            style="background-color: #ffd522"
        >
            <div class="cuadros-texto">
                <div>
                    ¡Nuevos modelos 2021!
                    <input type="button" value="Ver más" class="boton-negro">
                </div>
            </div>
        </div>
            </div>
            <div class="contenedor-cuadros"
                style="background-image: url('img/home-cuadros-superior-img2.jpg')">
            </div>
            </div>
            <div
                class="contenedor-cuadros"
                style="background-color: #ffd522"
            >
                <div class="cuadros-texto">
                    <div>
                        ¡Encuentra los mejores descuentos!
                        <input type="button" value="Ver más" class="boton-negro">
                    </div>
                </div>
            </div>

            <div
            class="contenedor-cuadros"
            style="background-image: url('img/home-cuadros-superior-img3.jpg');"
        >
            </div>
        </div>
        <div
                class="contenedor-cuadros"
                style="background-color: #ffd522"
            >
                <div class="cuadros-texto">
                    <div>
                        ¡Encuentra los mejores descuentos!
                        <input type="button" value="Ver más" class="boton-negro">
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
</section>


<!--Sección de información con 3 iconos y breve descripción-->
    
    
<div class="info-iconos-contenedor">
    <div class="info-iconos">
     <img class="img-info-iconos" src="/img/icono-home-info1.svg" alt='icono-compra-segura'></img> 
     <h2>Compra segura</h2>
     <p>Tus compras son 100% seguras.</p>
   <br>
     </div>
   
   <div class="info-iconos">
   <img class="img-info-iconos" src="/img/icono-home-info2.svg" alt='icono-envios-internacionales'/> 
   <h2>Envíos internacionales</h2>
   <p>No te preocupes por salir de casa, nosotros te lo llevamos.</p>
   </div>
   
   <div class="info-iconos">
   <img class="img-info-iconos" src="/img/icono-home-info3.svg" alt='icono-entrega-inmediata'/> 
   <h2>Entrega inmediata</h2>
   <p>Pidelo hoy y recibelo mañana.</p>
   <br>
   </div>
   </div>
   </div>

<section class="cuadros">

    <div
    class="contenedor-cuadros"
    style="background-color: #ffd522"
>
    <div class="cuadros-texto">
        <div>
            Noticias sobre patinaje
            <input type="button" value="Ver más" class="boton-negro">
        </div>
    </div>
</div>
  
    <div class="contenedor-cuadros"
        style="background-image: url('img/home-cuadros-img1.jpg')">
    </div>
</div>

<div
class="contenedor-cuadros"
style="background-color: #ffd522"
>
<div class="cuadros-texto">
    <div>
        Tiendas nacionales a tu alcance, visitanos
        <input type="button" value="Ver más" class="boton-negro">
    </div>
</div>
</div>

    <div class="contenedor-cuadros"
    style="background-image: url('img/home-cuadros-img2.jpg')">
</div>

    <div
    class="contenedor-cuadros"
    style="background-color: #ffd522"
>
    <div class="cuadros-texto">
        <div>
            Aprende con tutoriales que tenemos disponibles
            <input type="button" value="Ver más" class="boton-negro">
        </div>
    </div>
</div>
    <div
    class="contenedor-cuadros"
    style="background-image: url('img/home-cuadros-img3.jpg');"
>
    </div>
</div>
</section>

    <!--Pie de pagína-->
    <%- include('partials/footer.ejs')%>
    
</body>

</html>