<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs')%>

<body>
    <%- include('partials/header.ejs')%>

    <main class="main-car">
        <div class="titulo-carrito">
            <h1>Añadir Producto</h1>
        </div>
        <section class="sec-addProduct">
            <form class="login-form" method="POST" action="/newProduct">
                <label class="texto-inputs" for="productName">Nombre del producto</label>
                <div class="div-input">
                    <input type="text" name="nombreProducto" id="productName" class="login-data" placeholder="Nombre del producto" required>
                </div>

                <label class="texto-inputs" for="des">Descripción</label>
                <div class="div-input">    
                    <input type="textarea" name="Descripcion" id="des" class="login-data" placeholder="Nombre del producto" required>
                </div>
                
                <label class="texto-inputs" for="imagenP">Imagen del producto</label>
                <div class="cont-chargeImg">
                    <input type="file" name="productImg" id="imagenP" accept=".jpg, .png" class="chargeImg">  
                </div>
                

                <label class="texto-inputs" for="categoria">Categoría</label>
                <div class="cont-categoria" >
                    <select name="categoria" id="categoria" required class="list-categoria">
                        <option value="Na">Seleccione categoría</option>
                        <option value="patines">Patines</option>
                        <option value="protect">Equipo de protección</option>
                        <option value="accesorio">Accesorio</option>
                        <option value="refaccion">Refacción</option>
                    </select>  
                </div>
                

                <label class="texto-inputs" for="tallas">Tallas disponibles</label>
                <div class="div-input">
                    <input type="text" name="talla" id="tallas" placeholder="talla1, talla2, ..." class="login-data">
                </div>
                
                <label class="texto-inputs" for="coloress">Colores disponibles</label>
                <div class="div-input">
                    <input type="text" name="color" id="colores" class="login-data" placeholder="color1, color2, ...">
                </div>
                
                <label class="texto-inputs" for="coloress">Precio</label>
                <div class="div-input">
                    <input type="text" name="color" id="colores" class="login-data">   
                </div>
                
                <button type="submit" class="submit-btn">Guardar</button>
            </form>
        </section>

        <section class="sec-addProduct">
            <h2>Modificar Producto</h2>
            <form class="login-form" method="POST" action="/newProduct">
                <label class="texto-inputs" for="productName">Id del producto que desea modificar</label>
                <div class="div-input">
                    <input type="text" name="nombreProducto" id="productName" class="login-data" placeholder="Id del producto" required>
                </div>
               
                <button type="submit" class="submit-btn">Buscar</button>
                <button type="delete" class="submit-btn">Eliminar</button>
            </form>
        </section>

    </main>

    <%- include('partials/footer.ejs')%>    
</body>
</html>