<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs')%>
<body>
    <%- include('partials/header.ejs')%>

    <main class="main-car">

        <div class="titulo-carrito">
            <h1>Tu Carrito</h1>
        </div>

        <div class="cont-producto">
            <div class="desglose-car" >
                <h4>Producto</h4>
                <h4>Precio</h4>
                <h4>Cantidad</h4>
                <h4>Total</h4>
            </div>

            <div class="cont-prdct-car">
                <img class="img-car" src = '/img/patin-01.jpg' alt='Patines clasicos blancos con flor bordada'>

                <div class="resum-productcar"> 
                    <div class="cont-des-tit">
                        <h2>Patines con flor bordada</h2>
                        <p class="resum-des">Talla: 26 <br> Color: negro</p> 
                    </div>
                      
                    <div class="cont-precio">
                        <h3>Precio:</h3>
                        <h3 class="precio-car">$3658.70</h3>   
                    </div>
                    
                    <form  action="none" method="POST">
                        <label>Cantidad:</label>
                        <select name="cantidad" >
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="4">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                        </select>
                    </form>           
                </div>

                <div class="cont-total">
                <h3 class="total">Total: </h3>
                <h3 class="precio-total">$20000.00</h3>                     
                </div>
             
                <span class="quitar material-icons material-icons-outlined">
                    delete_outline
                </span>
            </div>
            
            <div class="cont-prdct-car">
                <img class="img-car" src = '/img/casco-01.jpg' alt='Casco verde militar'>

                <div class="resum-productcar"> 
                    <div class="cont-des-tit">
                        <h2>Patines con flor bordada</h2>
                        <p class="resum-des">Talla: 26 <br> Color: negro</p> 
                    </div>
                      
                    <div class="cont-precio">
                        <h3>Precio:</h3>
                        <h3 class="precio-car">$3658.70</h3>   
                    </div>
                    
                    <form  action="none" method="POST">
                        <label>Cantidad:</label>
                        <select name="cantidad" >
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="4">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                        </select>
                    </form>           
                </div>

                <div class="cont-total">
                <h3 class="total">Total: </h3>
                <h3 class="precio-total">$20000.00</h3>                     
                </div>
             
                <span class="quitar material-icons material-icons-outlined">
                    delete_outline
                </span>
            </div>
            
            <p>Limpiar carrrito</p>
        </div>

        <div class="cont-resum-pedido">
            <h2>Resumen del pedido</h2>
            <div class="cont-costos">
                <p>
                    Subtotal:
                    <br/>
                    <br/>
                    Envio:
                </p>
                <p>
                    $10,000.00
                    <br/>
                    <br/>
                    $10,000.00
                </p>
            </div>
            <div class="cont-cupon">
                    <p>Código de descuento</p>                
                    <input class="bar-codig" type="text">
                    <br/>
                    
            </div>
            <br/>
            <h2>Total: $20,000.00</h2>
            <br/>            
        </div>

        <div class="cont-boton">
            <button class="boton-car" type="submit">Seguir comprando</button>
            <button class="boton-car" type="submit">Pagar</button>            
        </div>


        <div class="caja4">
            <h2 class="nombre-art">También Podrías Necesitar </h2>
        </div>
        <section class="caja4">
                   
            <div class="caja2">
                <img class="img-sug" src = '/img/casco-01.jpg' alt='casco'>
                <h2 class="nombre-sug">Casco verde militar</h2>
                <button class= "boton-sug" type="submit">Agregar al carrito</button>
            </div>

            <div class="caja2">
                <img class="img-sug" src = '/img/home-producto2.png' alt='Patines fitnes'>
                <h2 class="nombre-sug">Patines fitnes ABEC</h2>
                <button class= "boton-sug" type="submit">Agregar al carrito</button>
            </div>

            <div class="caja2">
                <img class="img-sug" src = '/img/ruedas-01.jpg' alt='Ruedas'>
                <h2 class="nombre-sug">Juego de ruedas POWERSLIDE</h2>
                <button class= "boton-sug" type="submit">Agregar al carrito</button>
            </div>
            <div class="caja2">
                <img class="img-sug" src = '/img/protectores.jpg' alt='Protectores'>
                <h2 class="nombre-sug">Kit de protectores</h2>
                <button class= "boton-sug" type="submit">Agregar al carrito</button>
            </div>

        </section>



    </main>

<%- include('partials/footer.ejs')%>
    
</body>
</html>