<!DOCTYPE html> <!-- Darle ! + enter y se crea el formato en automático -->
<html lang="en">

<%- include('partials/head.ejs')%>

<body>
    <%- include('partials/header.ejs')%>

    <main>
        <div class="login-h1">
            <h1>Crear cuenta</h1>
        </div>
    
        <form class="login-form" method="POST" action="/user/crear" enctype="multipart/form-data">

            <label class="texto-inputs" for="nombre">Nombre</label>
            <div class="div-input">
                <i class="far fa-user"></i>
                <input type="text" name="firstName" class="login-data" id="nombre" placeholder="Nombre" required>
                <!-- required lo hace obligatorio -->
            </div>

            <label class="texto-inputs" for="apellido">Apellido</label>
            <div class="div-input">
                <i class="far fa-user"></i>
                <input type="text" name="lastName" class="login-data" id="apellido" placeholder="Apellido" required>
                <!-- required lo hace obligatorio -->
            </div>

            <label class="texto-inputs" for="email">Correo Electrónico</label>
            <div class="div-input">
                <i class="fas fa-at"></i>
                <input type="email" name="email" class="login-data" id="email" placeholder="Correo" required>
                <!-- required lo hace obligatorio -->
            </div>

            <label class="texto-inputs" for="password">Contraseña</label>
            <div class="div-input">
                <i class="fas fa-lock"></i>
                <input type="password" name="password" id="password" class="login-data" placeholder="Contraseña" required>
            </div>

            <label class="texto-inputs" for="imagenP">Imagen del usuario</label>
            <div class="cont-chargeImg">
                <input type="file" name="imgUser" id="imagenP" accept=".jpg, .png" class="chargeImg">  
            </div>

            <button type="submit" class="submit-btn">Regístrarse</button>
        </form>
        <p class="texto-registro">¿Ya tienes una cuenta?</p>
        <a class="link-registro" href="/user/login">Inicia sesión</a>
    </main>
    <!--Pie de pagína-->
    <%- include('partials/footer.ejs')%>

</body>

</html>