<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs')%>

    <body>
        <main>
        <h1 id="products-titulo"></h1>
        <div class="wrapper">
  
            <div class="table">
              
              <div class="row header">
                <div class="cell">
                  id
                </div>
                <div class="cell">
                name_brand
                </div>
              </div>
              
              <div class="row">
                <div class="cell" data-title="Name">
                  id
                </div>
                <div class="cell" data-title="Age">
                  name_category
                </div>
              </div>
              
              <div class="row">
                <div class="cell" data-title="Name">
                  id
                </div>
                <div class="cell" data-title="Age">
                  color
                </div>
              </div>
              
              <div class="row">
                <div class="cell" data-title="Name">
                  Maxwell Johnson
                </div>
                <div class="cell" data-title="Age">
                  26
                </div>
                <div class="cell" data-title="Occupation">
                  UX Architect & Designer
                </div>
                <div class="cell" data-title="Location">
                  Arlington, MA
                </div>
              </div>
              
              <div class="row">
                <div class="cell" data-title="Name">
                  Harry Harrison
                </div>
                <div class="cell" data-title="Age">
                  25
                </div>
                <div class="cell" data-title="Occupation">
                  Front-End Developer
                </div>
                <div class="cell" data-title="Location">
                  Boston, MA
                </div>
              </div>
              
            </div>
            
            <div class="table">
              
              <div class="row header green">
                <div class="cell">
                  Product
                </div>
                <div class="cell">
                  Unit Price
                </div>
                <div class="cell">
                  Quantity
                </div>
                <div class="cell">
                  Date Sold
                </div>
                <div class="cell">
                  Status
                </div>
              </div>
              
              <div class="row">
                <div class="cell" data-title="Product">
                  Solid oak work table
                </div>
                <div class="cell" data-title="Unit Price">
                  $800
                </div>
                <div class="cell" data-title="Quantity">
                  10
                </div>
                <div class="cell" data-title="Date Sold">
                  03/15/2014
                </div>
                <div class="cell" data-title="Status">
                  Waiting for Pickup
                </div>
              </div>
              
              <div class="row">
                <div class="cell" data-title="Product">
                  Leather iPhone wallet
                </div>
                <div class="cell" data-title="Unit Price">
                  $45
                </div>
                <div class="cell" data-title="Quantity">
                  120
                </div>
                <div class="cell" data-title="Date Sold">
                  02/28/2014
                </div>
                <div class="cell" data-title="Status">
                  In Transit
                </div>
              </div>
              
              <div class="row">
                <div class="cell" data-title="Product">
                  27" Apple Thunderbolt displays
                </div>
                <div class="cell" data-title="Unit Price">
                  $1000
                </div>
                <div class="cell" data-title="Quantity">
                  25
                </div>
                <div class="cell" data-title="Date Sold">
                  02/10/2014
                </div>
                <div class="cell" data-title="Status">
                  Delivered
                </div>
              </div>
              
              <div class="row">
                <div class="cell" data-title="Product">
                  Bose studio headphones
                </div>
                <div class="cell" data-title="Unit Price">
                  $60
                </div>
                <div class="cell" data-title="Quantity">
                  90
                </div>
                <div class="cell" data-title="Date Sold">
                  01/14/2014
                </div>
                <div class="cell" data-title="Status">
                  Delivered
                </div>
              </div>
              
            </div>
            
            <div class="table">
              
              <div class="row header blue">
                <div class="cell">
                  Username
                </div>
                <div class="cell">
                  Email
                </div>
                <div class="cell">
                  Password
                </div>
                <div class="cell">
                  Active
                </div>
              </div>
              
              <div class="row">
                <div class="cell" data-title="Username">
                  ninjalug
                </div>
                <div class="cell" data-title="Email">
                  misterninja@hotmail.com
                </div>
                <div class="cell" data-title="Password">
                  ************
                </div>
                <div class="cell" data-title="Active">
                  Yes
                </div>
              </div>
              
              <div class="row">
                <div class="cell" data-title="Username">
                  jsmith41
                </div>
                <div class="cell" data-title="Email">
                  joseph.smith@gmail.com
                </div>
                <div class="cell" data-title="Password">
                  ************
                </div>
                <div class="cell" data-title="Active">
                  No
                </div>
              </div>
              
              <div class="row">
                <div class="cell" data-title="Username">
                  1337hax0r15
                </div>
                <div class="cell" data-title="Email">
                  hackerdude1000@aol.com
                </div>
                <div class="cell" data-title="Password">
                  ************
                </div>
                <div class="cell" data-title="Active">
                  Yes
                </div>
              </div>
              
              <div class="row">
                <div class="cell" data-title="Username">
                  hairyharry19
                </div>
                <div class="cell" data-title="Email">
                  harryharry@gmail.com
                </div>
                <div class="cell" data-title="Password">
                  ************
                </div>
                <div class="cell" data-title="Active">
                  Yes
                </div>
              </div>
              
            </div>
            
          </div>
        </main>
        <%- include('partials/header.ejs')%>
        <%- include('partials/footer.ejs')%>
    </body>

</html>       

