<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs')%>

<body>
    <%- include('partials/header.ejs')%>
    <Section>
        <div>
            <h1>Tu Perfil De Usuario</h1>
        </div>
        <div >
            <img class="img-sug" src = '/img/casco-01.jpg' alt='casco'>
            <h2 class="nombre-sug">Casco verde militar</h2>
            <button class= "boton-sug" type="submit">Agregar al carrito</button>
        </div>
    </Section>

</body>
</html>