.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffd522;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  font-family: 'Bai Jamjuree';
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cont-recurso{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5vw;
}

.view-recurso{
  width: 25vw;
  background-color: #29303b;
  font-family: 'Oswald';
  font-size: 3vw;
  color: white;
}

.icono{
  font-size: 8vw;
}

.table {
  margin-bottom: 20px;
  font-family: 'Lato', sans-serif;
  border: none;
  margin: auto;
  margin-bottom: 20px;
  border-collapse: collapse;
}

.table td {
  box-shadow: inset 0 -1px rgba(0,0,0,0.10), 
      inset 0 1px rgba(0,0,0,0.10);
}
.table th {
  font-weight: normal;
  padding: 1em;
  color:black;
  background-color: #A6AAAD;
  font-size: 1.5em;
}
.table td {
  color: #f7f7f7;
  padding: 0.7em 1em 0.7em 1.15em;
  text-shadow: 0 0 1px rgba(255,255,255,0.1);
  font-size: 1.4em;
}

.table-1 {
  background: #29303B;
}
.table-1 tr:hover {
  background: #A6AAAD;
}

.contDetalle{
  display: flex;
  flex-direction: column;
  width: 40vw;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  background-color: #29303b;
  font-family: 'Oswald';
  font-size: 2vw;
  color: white;
}
.imd-product{
  width: 80%;
}

