.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffd522;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  font-family: 'Bai Jamjuree';
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cont-recurso{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5vw;
}

.view-recurso{
  width: 25vw;
  background-color: #29303b;
  font-family: 'Oswald';
  font-size: 3vw;
  color: #e57d0c;
}

.icono{
  font-size: 8vw;
}



