
.sec-user{
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.tituloPerfil >h1{
    background-color: #ffd522;
    width: 100vw;
    font-size: 5vh;
    text-align: center;
    font-family: 'Bai Jamjuree', sans-serif;
    margin: 0;
    padding: 30px 30px;
}

.img-userProf{
    margin-top: 50px;
    border-radius: 50%;
    width: 250px;
}

.etiqueta{
    font-family: 'Lato', sans-serif;
    color: #E57D0C;
    width: 100%;
}

.text-userProf{
    font-family: 'Lato', sans-serif;
    font-size: 2vh;
}

.div-text{
    border: 2px solid #E57D0C;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 25px;
    text-align: left;
}