*{
    box-sizing: border-box;
}

.login-h1 > h1{
    font-family: 'Bai Jamjuree', sans-serif;
    text-align: center;
    font-style: bold;
    font-size: 5vh;
    background-color: #ffd522;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0;
}
h1.login-h1{
    font-family: 'Bai Jamjuree', sans-serif;
    text-align: center;
    font-style: bold;
    margin-top: 50px;
}

label.texto-inputs{
    display: none;
    font-family: 'Lato', sans-serif;
    color:#A6AAAD;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: left;
    margin-bottom: 10px;
    font-size: medium;
}

.login-form{
    text-align: left;
    margin-top: 30px;
}

.register-forn{
        text-align: left;
        margin-top: 30px;
}

.div-input{
    border: 2px solid #E57D0C;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 25px;
    text-align: left;
    padding:8px 8px;
}

.div-input:hover,
    .div-input:focus{
    border: 2px solid #ffd522;
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
}
    

.div-input:hover,
    .div-input:focus{
    border: 2px solid #ffd522;
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
}
    

.login-data{
    border: none;
    padding: 0px 0px 0px 5px;
    width: 100%;
    outline: none;
    font-family: 'Lato', sans-serif;
    width: 80%;
    outline: none;
}

.login-data-cantidad{
    border: none;
    padding: 0px 0px 0px 5px;
    width: 100%;
    outline: none;
    font-family: 'Lato', sans-serif;
    width: 80%;
    outline: none;
}

.no-password{
    display: block;
    margin-left: 40%;
    font-family:'Lato', sans-serif;
    font-size: 1.5rem;
}

.texto-registro{
    text-align: center;
    margin-block-end: 0;
    font-family:'Lato', sans-serif;
}

.link-registro{
    display: block;
    text-align: center;
    margin-bottom: 50px;
}

a.link-registro{
    color: #E57D0C;
    font-family:'Lato', sans-serif;
}

a.no-password{
    color: #A6AAAD;
    font-size: 15px;
    font-family:'Lato', sans-serif;
    text-align: left;
    margin: 20px;
    font-weight: 10;
}


  button.submit-btn{
    color: white;
    background-color: #000000;
    margin-top: 15px;
    padding: 10px 15px;
    font-family: 'Oswald', sans-serif;
    font-style: bold;
    font-size: 1.2rem;
    transition-duration: 0.4s;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-style: none;
}

button.submit-btn:hover {
    background-color: #E57D0C; /* Green */
    color: white;
  }

  i{
      color:#A6AAAD;
      font-size: 14px;
      text-align: left;
  }

  .cont-chargeImg, .cont-categoria{
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      margin-bottom: 25px;
      text-align: left;
  }

  .chargeImg{
    color: #E57D0C;
    font-style: 'Lato', sans-serif;
  }

  .list-categoria{
      border: #E57D0C solid 2px;
      width: 100%;
      height: 35px;
      border-radius: 5px;
      font-style: 'Lato', sans-serif;
  }

  .list-categoria > option{
    font-style: 'Lato', sans-serif;
}

  .sec-addProduct{
      padding-top: 20px;
      padding-bottom: 10px;
      text-align: center;
  }
 
  #user-photo{
    width: 80px;
     height: 80px;
     border-radius: 90%;
     margin-right: 15px;
  }

  #upload-Img{
      display: flex;
      align-items: baseline;
  }

  /* Media queries para dar formato a pantallas de diferente tamaño */

  @media(min-width:560px){
    label.texto-inputs{
        display:block;
  }
}

.div-checkbox {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 25px;
    text-align: left;
    font-family: 'Lato', sans-serif;
}

.div-checkbox input{
   margin: 10px;
}

.alert{
    font-family: 'Lato', sans-serif;
    color: red;
    text-align: center;
    margin:auto;
    padding: 15px;
}

.errors-login{
    text-align: center;
}

.fa-times-circle{
    color: red;
}

.div-no-password{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: left;
}

.div-no-password label{
    font-family: 'Lato', sans-serif;
}

input[type=checkbox]{
    cursor: pointer;
    width: 15px;
    height: 15px;
}


input[type=checkbox]:checked:after {
    background-color: black;
    color:black;
}