
.sec-user{
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.tituloPerfil >h1{
    background-color: #ffd522;
    width: 100vw;
    font-size: 5vh;
    text-align: center;
    font-family: 'Bai Jamjuree', sans-serif;
    margin: 0;
    padding: 30px 30px;
}

.img-userProf{
    margin-top: 50px;
    border-radius: 50%;
    width: 250px;
}

.etiqueta{
    font-family: 'Lato', sans-serif;
    color: #E57D0C;
    width: 100%;
}

.text-userProf{
    font-family: 'Lato', sans-serif;
    font-size: 2vh;
}

.div-text{
    border: 2px solid #E57D0C;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 25px;
    text-align: left;
}

button.logout{
    border: 2px solid black;
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    color: black;
    background-color: #d8d8d8;
    margin-top: 15px;
    padding: 10px 15px;
    font-family: 'Oswald', sans-serif;
    font-style: bold;
    font-size: 1.2rem;
    transition-duration: 0.4s;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-style: none;
}

button.logout a{
    color: black;
}

button.logout:hover {
    background-color: black; /* Green */
    color: white;
  }

  button.logout a:hover{
    color: white;
}