main * {
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.container{
    margin-top: 20px;
}

.h1{
    margin-bottom: 50px;
}

.table {
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;
    border: none;
    margin: auto;
    margin-bottom: 20px;
    border-collapse: collapse;
}

.td.i{
    color: white;
    background-color: white;
}

#delete{
    color: red;
    font-size: 1.2rem;
}

#add{
    color: white;
    margin-left: 10px;
    font-size: 1.2rem;
}

.add-td{
    margin: auto;
    background-color: #e57d0c;
}

.submit-sec{
    background-color: #e57d0c;
    color: white;
    font-size: 1em;
    font-weight: normal;
    border: none;
    padding: 10px;
}

.sec-delete{
    background-color: #29303B;
    border: none;
    padding: 10px;
}


#edit{
    background-color: #29303B;
    border: none;
    color: white;
    font-size: 1.2rem;
}

.a-edit{
    background-color: #29303B;
     color: #29303B;
    border: none;
}

.sec-label{
    font-family: 'Lato', sans-serif;
}

.table td {
    box-shadow: inset 0 -1px rgba(0,0,0,0.10), 
        inset 0 1px rgba(0,0,0,0.10);
}
.table th {
    font-weight: normal;
    padding: 1em;
    color:black;
    background-color: #A6AAAD;
    font-size: 1.5em;
}
.table td {
    color: #f7f7f7;
    padding: 0.7em 1em 0.7em 1.15em;
    text-shadow: 0 0 1px rgba(255,255,255,0.1);
    font-size: 1.4em;
}

.table-1 {
    background: #29303B;
}
.table-1 tr:hover {
    background: #A6AAAD;
}
