<footer>
    <!--Logo Fun N Skate-->
             <div>
                <img class="logo-footer" src = '/img/Logo Blanco.svg' alt='Logo Fun-N-Skate'>
            </div>
            
            <!--Logotipos de redes sociales-->
            <div class="caja-redes">
                <h3 class="titulo-redes">¡Siguenos!</h3>
                <a href="facebook">
                    <img class="redes" src = '/img/icon-fb.png' alt='facebook'>
                </a>
    
                <a href="twitter">
                    <img class="redes" src = '/img/icon-twit.svg' alt='twiter'>
                </a>
    
                <a href="whatsapp">
                    <img class="redes" src = '/img/icon-whats.svg' alt='whatsapp'>
                </a>
    
                <a href="instagram">
                    <img class="redes" src = '/img/icon-inst.svg' alt='instagram'>
                </a> 
                <div>
                    <h3>¡Suscribete! <br> Obten noticias y ofertas</h3>
                    <input class="barra-correo" type="email"/>
                    <button class="boton-sus">Suscribete</button>
                </div>
            </div>
            <!--Area de suscripción -->
          
    
            <div class="cont-list">
                <ul>
                    <li>
                        <a href="#terminos-condiciones">Terminos y condiciones</a>
                    </li>
                    <li>
                        <a href="#metodosEnvio">Metodos de envio</a>
                    </li>
                    <li>
                        <a href="#privacidad">politicas de privacidad</a>
                    </li>
                </ul>
            
                <ul>
                    <li>
                        <a href="#sucursal1">Sucursal 1. direccion</a>
                    </li>
                    <li>
                        <a href="#sucursal2">Sucursal 2. dirección</a>
                    </li>
                    <li>
                        <a href="#sucursal3">Sucursal 3. direccion</a>
                    </li>
                </ul>
            </div>
        
</footer>