<header class="header-home">
    <!--Se hizo una caja que contiene la imagen del usuario, el logo y el menu tipo hamburguesa-->
    <div class="img-cabecera">
        <!--Aqui esta el menu tipo hamburguesa-->
        <div class="icons navbar_button">
            <label for="show-nav">
                <span class="material-icons material-icons-outlined">
                    menu
                </span>
            </label>
        </div>

        <div>
            <img class="logo-cabecera" src='/img/Logo Fun N Skate naranja.svg' alt='Logo Fun-N-Skate'>
        </div>

        <div class="icon-right">
            <% if(locals.isLogged) { %>
            <div class="usuario">
                    <a href="/user-profile">
                        <img class="img-usuario" alt='imagen del  usuario' src='<%= locals.userLogged.img_user %>''>
            </a>
                <p><%= locals.userLogged.first_name %></p>
            </div>
            <% } %>
            <div>
                <form action="/busqueda" method="get">
                <label class= ' lupa' for="show-buscar">
                        <span class="icons material-icons material-icons-outlined">
                            search
                        </span>
                        </label>
                        </form>
            </div>
            <div>
                <a href="/productCar"> <span class="icons material-icons material-iconsmaterial-icons-outlined">
                        shopping_cart
                    </span></a>
            </div>
        </div>
    </div>

    <!--Barra de busqueda-->
    <input type="checkbox" id="show-buscar" hidden>
    <div class="bar_buscar">
        <form method="GET" action="/products/search?busqueda=" + busqueda>
            <input class="barra-buscar" type="search" name="busqueda" placeholder=" ¿Qué está buscando?" />
            <button type="submit" class="boton-buscar"><i class="fas fa-search"></i>Buscar</button>
        </form>
    </div>


    <!--Se declara el chec box que permite ocultar y mostra la lista del menu-->
    <input type="checkbox" id="show-nav" hidden />
    <!--lista del menu principal-->
    <ul class="navbar_menu">
        <li><a href="/">Inicio</a></li>
        <li>
            <label for="show-submenu">Productos</label>
            <input type="checkbox" id="show-submenu" hidden>
            <!--Lista del menu/productos-->
            <ul class="submenu">
                <li><a href="/products/list">Todos</a></li>
                <li><a href="#patines">Patines</a></li>
                <li><a href="#equipoProteccion">Equipo de protección</a></li>
                <li><a href="#accesorios">Accesorios</a></li>
                <li><a href="#refacciones">Refacciones</a></li>
                <% if(locals.isAdmin) { %>
                    <li><a href="/products/create">Añadir/Editar</a></li>
                    <li><a href="/products/secProducts">Tablas secundarias</a></li>
                    <% } %>
            </ul>
        </li>
        <li><a href="#blog">Blog</a></li>
        <li><a href="#otros">Otros</a></li>
        <% if(locals.isLogged) { %>
            <li>
                <label for="show-subuser">Cuenta</label>
                <input type="checkbox" id="show-subuser" hidden>
                <!--Lista del menu/users-->
                <ul class="submenu">
                    <li><a href="/user-profile">Mi perfil</a></li>
                    <% if(locals.isAdmin) { %>
                    <li><a href="/list">lista de usuarios</a></li>
                    <% } %>
                    <li><a href="/logout/">Cerrar sesión</a></li>
                </ul>
            </li>
        <% } else { %>
            <li>
                <label for="show-subuser">Usuarios</label>
                <input type="checkbox" id="show-subuser" hidden>
                <!--Lista del menu/users-->
                <ul class="submenu">
                    <li><a href="/login">login</a></li>
                    <li><a href="/register">registrate</a></li>
                </ul>
            </li>
        <% } %>
    </ul>
</header>