<header class="header-home">
    <!--Se hizo una caja que contiene la imagen del usuario, el logo y el menu tipo hamburguesa-->
    <div class="img-cabecera">
        <!--Aqui esta el menu tipo hamburguesa-->
        <div class="icons navbar_button">
            <label for="show-nav">
                <span class = "material-icons material-icons-outlined" >
                    menu
                </span>  
            </label> 
        </div>

        <div>
            <img class="logo-cabecera" src = '/img/Logo Fun N Skate naranja.svg' alt='Logo Fun-N-Skate'>  
        </div>

        <div class="icon-right">
            <div class="usuario">
                <img class="img-usuario" src = '/img/img-usuario.jpg' alt='imagen del  usuario'>
                <p>Usuario</p>
            </div>
            <div>
                <label class= 'lupa' for="show-buscar">
                    <span class="icons material-icons material-icons-outlined">
                        search
                    </span>
                </label>
            </div>
            <div>
                <a href="/productCar"> <span class="icons material-icons material-iconsmaterial-icons-outlined">
                    shopping_cart
                </span></a>
            </div>
        </div>          
    </div>

    <!--Barra de busqueda--> 
    <input type="checkbox" id="show-buscar" hidden>
    <div class="bar_buscar">
        <input class="barra-buscar" type="search" placeholder="  ¿Qué está buscando?"/>
    </div>


<!--Se declara el chec box que permite ocultar y mostra la lista del menu-->
    <input type="checkbox" id="show-nav" hidden/>
<!--lista del menu principal-->
    <ul class="navbar_menu">
        <li><a href="/">Inicio</a></li>
        <li>
            <label for="show-submenu">Productos</label>
            <input type="checkbox" id="show-submenu" hidden>
<!--Lista del menu/productos-->
            <ul class="submenu">
                <li><a href="/product-list">Todos</a></li>
                <li><a href="/Details">Patines</a></li>
                <li><a href="#equipoProteccion">Equipo de protección</a></li>
                <li><a href="#accesorios">Accesorios</a></li>
                <li><a href="#refacciones">Refacciones</a></li>
            </ul>            
       </li>
        <li><a href="/productCar">Carrito</a></li>
        <li><a href="/registro">Regístrate</a></li>
        <li><a href="/login">Mi cuenta</a></li>
        <li><a href="#blog">Blog</a></li>
        <li><a href="#otros">Otros</a></li>

    </ul>   
</header>