<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@1,700&family=Oswald:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/de7a83a17a.js" crossorigin="anonymous"></script>
    
    <link href="/css/style-header.css" rel = "stylesheet" >
    <link href="/css/style-footer.css" rel = "stylesheet" >
    
    <link href="/css/style-home.css" rel = "stylesheet" >
    <link href="/css/style-login.css" rel = "stylesheet" >
    <link href="/css/style-produc.css" rel = "stylesheet" >
    <link href="/css/style-product-list.css" rel = "stylesheet" >

    <title>Fun-N-Skate</title>
</head>